.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.title{
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: calc(18px + (36 - 18) * ((100vw - 320px) / (1920 - 320))) ; 
    line-height: calc(24px + (48 - 24) * ((100vw - 320px) / (1920 - 320))) ;
}


.subtitle {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));
    color: #DE3F3F;
}

.input {
    border: none;
    color: #ffffff;
    background-color: transparent;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));
    padding-bottom: 8px;
}

.input::placeholder {
    padding-left: 20px;
    color: #ffffff;
}
.btn {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    border-radius: 22px;
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    border: none;
}

.btn:hover {
    transition: 0.2s ease-in;
    cursor: pointer;
}

.span-highlight {
    color: #DE3F3F;
}

.hero {
    background-color: #F3F9FF;
}

.hero__inner {
    max-width: 1250px;
    margin: 0 auto;
    padding: 125px 15px 200px 15px;
}

@media (max-width: 1250px) {
    .hero__inner {
        padding: calc(25px + (125 - 25) * ((100vw - 320px) / (1250 - 320))) 10px 200px 10px;
    }
}
.hero__block {
    position: relative;
    width: 970px;
    /* height: 330px; */
    background-color: #DE3F3F;
    border-radius: 22px;
    padding-top: 48px;
    padding-left: 44px;
}
@media (max-width: 1250px) {
    .hero__block {
        width: auto;
        padding: calc(24px + (48 - 12) * ((100vw - 320px) / (1250 - 320))) calc(20px + (44 - 10) * ((100vw - 320px) / (1250 - 320)));
    }
}

.subtitle_hero {
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 10px;
}

.title_hero {
    color: #ffffff;

}

.hero__bottom {
    padding-top: 100px;
    padding-bottom: 53px;
    display: flex;
    align-items: center;
}

.hero__city {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));
    color: #ffffff;
    padding-left: 15px;
}

.hero__car {
    position: absolute;
    right: -300px;
    bottom: -180px;
}
@media (max-width: 1250px) {
    .hero__bottom {
        padding-top: calc(30px + (100 - 30) * ((100vw - 320px) / (1250 - 320)));
        padding-bottom: 0;

    }
    .hero__bottom img {
        width: calc(15px + (28 - 15) * ((100vw - 320px) / (1250 - 320)));
    }
    .hero__car  {
       width:  calc(500px + (868 - 500) * ((100vw - 640px) / (1250 - 640)));
       right: 0;
    }
}
@media (max-width: 640px) {
    .hero__car  {
       bottom: -165px;
    }
}

.hero__shadow-car {
    position: absolute;
    right: -300px;
    bottom: -150px;
}

@media (max-width: 1250px) {
    .hero__shadow-car  {
       width:  calc(500px + (868 - 500) * ((100vw - 640px) / (1250 - 640)));
       right: 0;
    }
}


.about {
    background-color: #DAE2ED;
}

.about__inner {
    padding-top: 60px;
    padding-bottom: 100px;
}

.subtitle_about {
    color: #000000;
}

.about__row {
    margin-top: 60px;
    display: flex;
}

.about__item {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.about__item:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 250px;
    top: 40px;
    width: 190px;
    height: 3px;
    background-color: #DE3F3F;
}

.about__number {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: calc(32px + (64 - 32) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(42px + (85 - 42) * ((100vw - 320px) / (1920 - 320)));
    color: #DE3F3F;
}

.about__text {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    width: 350px;
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
}

.application {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/application.png");
    height: 270px;
    background-size: 100% 100%;

}

.application__inner {
    padding-top: 43px;
    padding-bottom: 43px;
}

.title_application {
    color: #ffffff;
}

.application__form {
    display: flex;
    margin-top: 40px;
}
@media (max-width: 680px) {
    .application__form {
        flex-direction: column;
        align-items: center;
    }
}



.application__name {
    color: #ffffff;
    border-bottom: 3px solid #DE3F3F;
    width: 180px;
    margin-right: 50px;
}
@media (max-width: 680px) {
    .application__name {
        width: 80%;
        margin: 0;
    }
}

.application__phone {
    border-bottom: 3px solid #DE3F3F;
    width: 275px;
    margin-right: 150px;
}
@media (max-width: 890px) {
    .application__phone {
        flex-direction: column;
        margin-right: 50px;
    }
}
@media (max-width: 680px) {
    .application__phone {
        width: 80%;
       margin: 10px 0;
    }
}

.application__btn {
    background-color: #DE3F3F;
    color: #ffffff;
    padding: 12px 68px;
}
@media (max-width: 1000px) {
    .application__btn {
        padding: 12px 38px;
    }
}


.application__btn:hover {
    box-shadow: 0 0 20px #DE3F3F;
}

.privilege {
    background-color: #F3F9FF;
}

.privilege__inner {
    padding-top: 85px;
    padding-bottom: 85px;
}

.title_privilege {
    padding-bottom: 15px;
}

.privilege__row {
    display: flex;
}
@media (max-width: 640px) {
    .privilege__row {
        flex-direction: column;
    }
}
.privilege__item {
    width: 100%;
    display: flex;
    padding-top: 35px;
}

.privilege__logo {
    padding-right: 20px;
    padding-top: 5px;
}

.privilege__logo img {
    width: 25px;
}
@media (max-width: 640px) {
    .privilege__logo img {
       width: 16px;
    }
}

.privilege__text {
    padding-top: 5px;
}

.privilege__text {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));
}

.payment {
    background-color: #E0EDF9;
}

.payment__inner {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.title_payment {
    padding-bottom: 65px;
}

.payment__row {
    display: flex;
    justify-content: center;
}
@media (max-width: 640px) {
    .payment__row {
        flex-direction: column;
    }
}

.payment__btn {
    display: flex;
    align-items: center;
    border-radius: 22px;
    padding: 25px;
    background-color: #DE3F3F;
}

.payment__btn:not(:last-child) {
    margin-right: 35px;
}
@media (max-width: 640px) {
    .payment__btn:not(:last-child) {
       margin: 0;
       margin-bottom: 10px;
    }
}

.payment__btn img {
    width: 28px;
    height: 18px;
}
@media (max-width: 640px) {
    .payment__btn img {
        width: 18px;
        height: 10px;
    }
}

.payment__text {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));
    color: #ffffff;
    padding-left: 15px;
}

.price {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/price-bg.png");
    background-size: 100% 100%;
}

.price__inner {
    padding-top: 75px;
    padding-bottom: 75px;
}

.title_price {
    color: #ffffff;
}

.subtitle_price {
    color: #ffffff;
    padding-top: 25px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));
}

.price__table {
    width: 830px;
    margin: 0 auto;
    margin-top: 45px;
    padding: 45px 90px 45px 75px;
    background-color: #ffffff;
    border-radius: 22px;
}
@media (max-width: 1070px) {
    .price__table {
        width: auto;
        padding: 20px calc(20px + (45 - 20) * ((100vw - 320px) / (1070 - 320)));
    }
}

.price__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
@media (max-width: 1070px) {
    .price__row {
        align-items: center;
    }
}

.price__row:last-child {
    margin-bottom: 0;
}

.price__info {
    display: flex;
    flex-direction: column;
}
@media (max-width: 1070px) {
    .price__info {
        margin-right: 10px;
    }
}

.price__title {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
    color: #DE3F3F;
}

.price__subtitle {
    font-family: "Exo", sans-serif;
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
}

.price__coast {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
    color: #000000;
}

.reviews {
    background-color: #F3F9FF;
    display: flex;
}
.reviews__inner {
    max-width: 1070px;
    padding: 95px 0 95px 300px;
}
.reviews__content {

    display: flex;
    flex-direction: column;
    /* padding: 95px 0 95px 300px; */
}

.reviews__title {
    margin-left: 25px;
}


.glide__slides {
    display: flex;

}

.glide__slide img {
    width: 100%;
    object-fit: cover;
}

.glide {
    margin-top: 55px;
    position: relative;
}

.glide__track {
    overflow: hidden;
}
.glide__arrow--left {
    display: block;
    position: absolute;
    top: 50%;
    left: -100px;
    width: 50px;
    height: 50px;
    background-color: #DE3F3F;
    border: 1px solid #DE3F3F;
    border-radius: 50%;
    background-image: url("../img/arrow-left.png");
    background-position: 45% 50%;
    background-repeat: no-repeat;
}

.glide__arrow--left:hover::before {
    cursor: pointer;
}
.glide__arrow--right {
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #DE3F3F;
    border: 1px solid #DE3F3F;
    border-radius: 50%;
    background-image: url("../img/arrow-right.png");
    background-position: 55% 50%;
    background-repeat: no-repeat;
}

.glide__arrow--rigth:hover::after {
    cursor: pointer;
}

.glide__item {
    width: 585px;
    background-color: #ffffff;
    border-radius: 22px;
    padding: 15px 45px 15px 30px;
    margin-bottom: 25px;
}

.glide__item:last-child {
    margin-bottom: 0;
}

.glide__title {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    color: #DE3F3F;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 12px;
}

.glide__text {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.reviews__background {
    margin-left: auto;
    width: 805px;
    height: 860px;
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 4% 100%);
    background: url("../img/reviews-bg.png") no-repeat;
}

.find {
    background-color: #DE3F3F;
}

.find__inner {
    display: flex;
    padding-top: 55px;
    padding-bottom: 55px;
}
@media (max-width: 1070px) {
    .find__inner{
        flex-direction: column;
    }
}

.title_find {
    color: #ffffff;
    padding-right: 100px;
}

@media (max-width: 720px) {
    .find__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
}

.find__name {
    width: 180px;
    border-bottom: 3px solid #ffffff;
    margin-right: 45px;
}
@media (max-width: 720px) {
    .find__name{
       width: 80%;
       margin: 0;
    
    }
}

.find__name::placeholder {
    padding: 0;
}

.find__phone {
    width: 275px;
    border-bottom: 3px solid #ffffff;
    margin-right: 35px;
}
@media (max-width: 720px) {
    .find__phone{
       width: 80%;
       margin: 10px 0;       
    }
    .find__phone::placeholder{
        padding: 0;
    }
}


.find__btn {
    padding: 12px 40px;
}
@media (max-width: 720px) {
    .find__btn {
        padding: 7px 40px;
    }
}

.find__btn:hover {
    box-shadow: 0 0 20px #ffffff;
}

.map iframe {
    width: 100%;
}

@media (max-width: 1100px) {
    .map iframe {
        height: calc(200px + (600 - 200) * ((100vw - 320px) / (1100 - 320)));
    }
}

.application_popup {
    background: #F3F9FF;
    color: #000000;
}

.application__form_popup input::placeholder {
    padding-left: 20px;
    color: #000000
}
.application__form_popup input {
    color: #000000
}