body {
    position: relative;
    width: 100%;
    height: 100%;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}


.title{
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: 36px; 
    line-height: 48px;
}
.subtitle {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #DE3F3F;
}
.input {
    border: none;
    color: #ffffff;
    background-color: transparent;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 8px;
}
.btn {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    border-radius: 22px;
    font-size: 14px;
    line-height: 16px;
    border: none;
}


.input::placeholder {
    padding-left: 20px;
    color: #ffffff;
}


.btn:hover {
    transition: 0.2s ease-in;
    cursor: pointer;
}

.span-highlight {
    color: #DE3F3F;
}

.hero {
    background-color: #F3F9FF;
}

.hero__inner {
    max-width: 1250px;
    margin: 0 auto;
    padding: 125px 15px 200px 15px;
}


.hero__block {
    position: relative;
    max-width: 970px;
    background-color: #DE3F3F;
    border-radius: 22px;
    padding-top: 48px;
    padding-left: 44px;
}

.subtitle_hero {
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 10px;
}

.title_hero {
    color: #ffffff;

}

.hero__bottom {
    padding-top: 100px;
    padding-bottom: 53px;
    display: flex;
    align-items: center;
}

.hero__city {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    padding-left: 15px;
}

.hero__car {
    pointer-events: none;
    position: absolute;
    right: -300px;
    bottom: -180px;
}


.hero__shadow-car {
    position: absolute;
    right: -300px;
    bottom: -150px;
}


.about {
    background-color: #E0EDF9;
}

.about__inner {
    padding-top: 60px;
    padding-bottom: 100px;
}

.subtitle_about {
    color: #000000;
}

.about__row {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap ;
}   

.about__item {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
}

.about__item::after {
    content: "";
    position: absolute;
    left: 250px;
    top: 40px;
    width: 190px;
    height: 3px;
    background-color: #DE3F3F;
}
.about__item:nth-child(3n)::after {
    content: none;
}
.about__item:nth-child(1) {
    order: 1;
}
.about__item:nth-child(2) {
    order: 2;
}
.about__item:nth-child(3) {
    order: 3;
}
.about__item:nth-child(4) {
    order: 4;
}
.about__item:nth-child(5) {
    order: 5;
}
.about__item:nth-child(6) {
    order: 6;
}
.about__number {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #DE3F3F;
}


.about__text {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    width: 350px;
    font-size: 14px;
    line-height: 16px;
}


.application {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/application.png");
    background-size: 100% 100%;

}

.application__inner {
    padding: 50px 15px;
}

.title_application {
    color: #ffffff;
}

.application__form {
    display: flex;
    margin-top: 40px;
}


.application__name {
    color: #ffffff;
    border-bottom: 3px solid #DE3F3F;
    width: 180px;
    margin-right: 50px;
}

.application__phone {
    border-bottom: 3px solid #DE3F3F;
    width: 275px;
    margin-right: 150px;
}


.application__btn {
    background-color: #DE3F3F;
    color: #ffffff;
    padding: 12px 68px;
}

.application__btn:hover {
    box-shadow: 0 0 20px #DE3F3F;
}

.privilege {
    background-color: #F3F9FF;
}

.privilege__inner {
    padding-top: 85px;
    padding-bottom: 85px;
}

.title_privilege {
    padding-bottom: 15px;
}

.privilege__row {
    display: flex;

}

.privilege__item {
    width: 100%;
    display: flex;
    padding-top: 35px;
    padding-left: 50px;
}

.privilege__logo {
    padding-right: 20px;
    padding-top: 5px;
}

.privilege__logo img {
    width: 25px;
}


.privilege__text {
    padding-top: 5px;
}

.privilege__text {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}


.payment {
    background-color: #E0EDF9;
}

.payment__inner {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

.title_payment {
    padding-bottom: 65px;
}

.payment__row {
    display: flex;
    justify-content: center;
}


.payment__btn {
    display: flex;
    align-items: center;
    border-radius: 22px;
    padding: 25px;
    background-color: #DE3F3F;
}

.payment__btn:not(:last-child) {
    margin-right: 35px;
}



.payment__btn img {
    width: 28px;
    height: 18px;
}


.payment__text {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    color: #ffffff;
    padding-left: 15px;
    font-size: 16px;
    line-height: 18px;
}



.price {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/price-bg.png");
    background-size: 100% 100%;
    position: relative;
    z-index: -1;
}
.price::after {
    content: "";
    width: 100%;
    height: 23px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #4A5560;
    z-index: 1;

}


.price__inner {
    padding-top: 75px;
    padding-bottom: 75px;
}

.title_price {
    color: #ffffff;
}

.subtitle_price {
    color: #ffffff;
    padding-top: 25px;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}


.price__table {
    width: 830px;
    margin: 0 auto;
    margin-top: 45px;
    padding: 45px 90px 45px 75px;
    background-color: #ffffff;
    border-radius: 22px;
}



.price__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}


.price__row:last-child {
    margin-bottom: 0;
}

.price__info {
    display: flex;
    flex-direction: column;
}

.price__title {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    color: #DE3F3F;
    font-size: 12px;
    line-height: 16px;
}


.price__subtitle {
    font-family: "Exo", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}

.price__coast {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    white-space: nowrap;
}
.reviews {
    background-color: #F3F9FF;
}
.reviews__inner {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
  
 
}
.reviews__left {
    width: 50%;
    padding-left: 415px;
    padding-top: 100px;
    padding-bottom: 100px;
  
} 
.reviews__content {
    width: 710px;
    display: flex;
    flex-direction: column;
    position: relative; 
    z-index: 15;
    
}
.title_reviews {
    padding-left: 25px;
}




.glide {
    margin-top: 55px;
   
}

.glide__slides {
    display: flex;

}

.glide__track {
    overflow: hidden;
}
.glide__arrow--left {
    display: block;
    position: absolute;
    top: 50%;
    left: -100px;
    width: 50px;
    height: 50px;
    background-color: #DE3F3F;
    border: 1px solid #DE3F3F;
    border-radius: 50%;
    background-image: url("../img/arrow-left.png");
    background-position: 45% 50%;
    background-repeat: no-repeat;
}

.glide__arrow--right {
    display: block;
    position: absolute;
    top: 50%;
    right: 25px;
    width: 50px;
    height: 50px;
    background-color: #DE3F3F;
    border: 1px solid #DE3F3F;
    border-radius: 50%;
    background-image: url("../img/arrow-right.png");
    background-position: 55% 50%;
    background-repeat: no-repeat;
    z-index: 100;
}
.glide__arrow:hover {
    cursor: pointer;
}   

.glide__item {
    max-width: 515px;
    background-color: #ffffff;
    border-radius: 22px;
    padding: 15px 45px 15px 30px;
    margin-bottom: 25px;
}

.glide__item:last-child {
    margin-bottom: 0;
}

.glide__title {
    font-family: "Exo", sans-serif;
    font-weight: 700;
    color: #DE3F3F;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 12px;
}

.glide__text {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.reviews__background {
    margin-left: auto;
    width: 50%;
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 4% 100%);
    background: url("../img/reviews-bg.png") no-repeat;
}

.find {
    background-color: #DE3F3F;
}

.find__inner {
    display: flex;
    padding-top: 55px;
    padding-bottom: 55px;
}

.title_find {
    color: #ffffff;
    padding-right: 100px;
}



.find__name {
    width: 180px;
    border-bottom: 3px solid #ffffff;
    margin-right: 45px;
}


.find__name::placeholder {
    padding: 0;
}

.find__phone {
    width: 275px;
    border-bottom: 3px solid #ffffff;
    margin-right: 35px;
}



.find__btn {
    padding: 12px 40px;
}


.find__btn:hover {
    box-shadow: 0 0 20px #ffffff;
}

.map {
    display: flex;
}
.map iframe {
    width: 100%;
}
.overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(32, 34, 39, 0.9);
    z-index: 999;
}
.hidden {
    display: none;
}
.popup {
    position: relative;
    background-color: #ffffff;
    margin: 150px auto 0 auto;
    max-width: 828px;
    padding: 60px 0px;
    z-index: 50;
    border-radius: 22px;
}
.popup__open{
    text-decoration: underline;
}
.popup__open:hover {
    cursor: pointer;
}
.popup__close {
    position: absolute;
    right: 10px;
    top: 10px ;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #DE3F3F;
}
.popup__close:hover {
    cursor: pointer;
}
.popup__close::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    display: block;
    width: 18px;
    height: 18px;
    background: url("../img/close.png");
}

.popup__top{
    padding: 0 80px;
}
.title_popup {
    display: inline-block;
    border-bottom: 3px solid #DE3F3F;
    margin-bottom: 40px;
}
.subtitle_popup {
    white-space: nowrap;
}
.popup__content {
    display: flex;
}
.popup__column {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.popup__bottom {
    background-color: #F3F9FF;
    padding: 40px 80px;
    margin-top: 60px;
}

.subtitle_popup-black {
    color: #000000;
}
.popup__form {
    max-width: 750px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.popup__name {
    color: #000000;
    border-bottom: 3px solid #DE3F3F;
    margin-right: 55px;
}
.popup__name::placeholder {
    color: #000000;
    padding: 0;


}
.popup__phone {
    color: #000000;
    border-bottom: 3px solid #DE3F3F;
}
.popup__phone::placeholder {
    padding: 0;
    color: #000000;
}
.popup__btn {
    margin-top: 60px;
    background-color: #DE3F3F;
    color: #ffffff;
    padding: 12px 68px;
}

.popup__btn:hover {
    box-shadow: 0 0 20px #DE3F3F;
}


@media (max-width: 1920px) {
    .title {
        font-size: calc(16px + (36 - 16) * ((100vw - 320px) / (1920 - 320))) ; 
        line-height: calc(24px + (48 - 24) * ((100vw - 320px) / (1920 - 320))) ;
    }
    .subtitle {
        font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));
    }
    .input {
        font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));
    }
    .btn {  
        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    }
    .hero__city {
        font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));
    }
    .about__number {
        font-size: calc(32px + (64 - 32) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(42px + (85 - 42) * ((100vw - 320px) / (1920 - 320)));
    }
    .about__text {
        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
    }
    .privilege__text {
        font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));
    }
    .payment__text {
        font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));
    }
    .subtitle_price {
         font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(18px + (32 - 18) * ((100vw - 320px) / (1920 - 320)));
    }
    .price__title {
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
    }
    .price__subtitle {
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
    }
    .price__coast {
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1920 - 320)));
        line-height: calc(16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
    }
    .reviews__left {
        padding-left: calc(70px + (415 - 100) * ((100vw - 890px) / (1920 - 890)));
    }
    .popup {
        margin-top: calc(100px + (150 - 100) * ((100vw - 320px) / (1920 - 320)));;
    }
}

@media (max-width: 1250px) {
    .hero__inner {
        padding: calc(50px + (125 - 25) * ((100vw - 640px) / (1250 - 640))) 10px 200px 10px;
    }
    .hero__block {
        width: auto;
        padding: calc(24px + (48 - 12) * ((100vw - 320px) / (1250 - 320))) calc(20px + (44 - 10) * ((100vw - 320px) / (1250 - 320)));
    }
    .hero__bottom {
        padding-top: calc(30px + (100 - 30) * ((100vw - 320px) / (1250 - 320)));
        padding-bottom: 0;
    }
    .hero__bottom img {
        width: calc(15px + (28 - 15) * ((100vw - 320px) / (1250 - 320)));
    }
    .hero__car  {
       width:  calc(500px + (868 - 500) * ((100vw - 640px) / (1250 - 640)));
       right: 0;
    }
    .hero__shadow-car  {
        width:  calc(500px + (868 - 500) * ((100vw - 640px) / (1250 - 640)));
        right: 0;
     }
     .reviews__left {
        padding-top: calc(25px + (125 - 25) * ((100vw - 320px) / (1250 - 320)));
        padding-bottom: calc(25px + (125 - 25) * ((100vw - 320px) / (1250 - 320)));
    }
}

@media (max-width: 1070px) {
    .hero__shadow-car {
        bottom: -160px;
    }
    .about__row {
        margin-top: calc(30px + (60 - 30) * ((100vw - 640px) / (1070 - 640)));
    }
    .about__item::after {
        left: 250px;
        top: 25px;
        width: calc(100px + (190 - 100) * ((100vw - 1070px) / (1920 - 1070)));
    }
    .about__item:nth-child(4) { 
        order: 6;
    }
    .about__item:nth-child(6) {
        order: 4;
    }
    .about__item:nth-child(3n)::after {
        content: "";
    }
    .about__item:nth-child(4)::after { 
        content: none;
    }

    .about__text {
            width: 300px;
        }
    .application__btn {
        padding: 12px 38px;
    }
    .payment__inner {
        padding-top: calc(20px + (70 - 20) * ((100vw - 320px) / (1070 - 320)));
        padding-bottom: calc(20px + (70 - 20) * ((100vw - 320px) / (1070 - 320)));
    }
    .title_payment {
        padding-bottom: calc(20px + (65 - 20) * ((100vw - 320px) / (1070 - 320)));
    }
    .price__inner {
        padding-top: calc(20px + (75 - 20) * ((100vw - 320px) / (1070 - 320)));
        padding-bottom: calc(20px + (75 - 20) * ((100vw - 320px) / (1070 - 320)));
    }
    .price__table {
        width: auto;
        padding: 20px calc(20px + (45 - 20) * ((100vw - 320px) / (1070 - 320)));
    }
    .price__row {
        align-items: center;
    }
    .price__info {
        margin-right: 10px;
    }
   

    .find__inner{
        flex-direction: column;
    }
  
    .map iframe {
        height: calc(200px + (600 - 200) * ((100vw - 320px) / (1100 - 320)));
    }
}
@media (max-width: 890px) {
    .application__phone {
        flex-direction: column;
        margin-right: 50px;
    }

    .reviews__background {
        display: none;
    }  
    .reviews__inner {
        padding: 0 15px;
   
    } 
    .reviews__left {
        width: 100%;
    }
      .glide { 
        margin-top: calc(20px + (55 - 20) * ((100vw - 320px) / (890 - 320)));
    }

    .glide__item {
        max-width: 90%;
        padding: calc(10px + (15 - 10) * ((100vw - 320px) / (890 - 320))) calc(10px + (15 - 10) * ((100vw - 320px) / (890 - 320))) calc(10px + (15 - 10) * ((100vw - 320px) / (890 - 320))) calc(15px + (25 - 15) * ((100vw - 320px) / (890 - 320)));
        margin-bottom: calc(15px + (25 - 15) * ((100vw - 320px) / (890 - 320)));
    }
    .glide__title {
        font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (890 - 320)));
        line-height: calc(18px + (32 - 18) * ((100vw - 320px) / (890 - 320)));
    }
    .glide__text {
        font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (890 - 320)));
        line-height: calc(16px + (22 - 16) * ((100vw - 320px) / (890 - 320)));
    }
    .glide__arrow {
        display: none;
    }
}
@media (max-width: 760px) {
    .reviews__content {
        width: 100%;
    }
}
@media (max-width: 720px) {
 
      .find__inner {
        padding-top: calc(20px + (55 - 20) * ((100vw - 320px) / (720 - 320))); 
        padding-bottom: calc(20px + (55 - 20) * ((100vw - 320px) / (720 - 320))); 
    }
    .find__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
    }
    .find__name{
        width: 80%;
        margin: 0;
     }
     .find__phone{
         width: 80%;
         margin: 10px 0;       
      }
      .find__phone::placeholder{
          padding: 0;
      }
      .find__btn {
          margin-top: 10px;
          padding: 7px calc(100px + (250 - 100) * ((100vw - 320px) / (720 - 320))); 
        }
      }

@media (max-width: 680px) {
    .application {
       background-size: cover;
    }
    .application__inner {
        padding-top: calc(20px + (50 - 20) * ((100vw - 320px) / (680 - 320)));
        padding-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (680 - 320)));
    }
    .application__form {
        flex-direction: column;
        align-items: center;
        margin-top: calc(20px + (40 - 20) * ((100vw - 320px) / (680 - 320)));
    }
    .application__name {
        width: 80%;
        margin: 0;
    }
    .application__phone {
        width: 80%;
       margin: 10px 0;
    }
    .application__btn {
        padding: 12px calc(70px + (205 - 70) * ((100vw - 320px) / (680 - 320)));
        margin-top: 10px;
    }
    .price {
        background-size: cover;
    }
}

@media (max-width: 640px) {
    .hero__inner {
        padding: calc(25px + (50 - 25) * ((100vw - 320px) / (640 - 320))) 10px calc(25px + (50 - 25) * ((100vw - 320px) / (640 - 320))) 10px;
    }
    .hero__car  {
        display: none;
    }
    .hero__shadow-car {
        display: none;
    }
    .about__inner {
        padding-top: calc(20px + (60 - 20) * ((100vw - 320px) / (640 - 320)));
        padding-bottom: calc(20px + (120 - 20) * ((100vw - 320px) / (640 - 320)));
    }
    .about__row {
          justify-content: center;
    }
    .about__item:first-child {
        margin-top: 0;
    }
  
    .about__item::after {
        left: 50%;
        top: 110%;
        width: 3px;
        height: 50px;
    }

    .about__text {
        width: 90%;
    }
    
    .privilege__inner {
        padding-top: calc(20px + (85 - 20) * ((100vw - 320px) / (640 - 320)));
        padding-bottom: calc(20px + (85 - 20) * ((100vw - 320px) / (640 - 320)));
    }
    .privilege__item {
        padding-top: calc(10px + (35 - 10) * ((100vw - 320px) / (640 - 320)));
        padding-left: 0;
    }
    .privilege__row {
        flex-direction: column;
    }
    .privilege__logo img {
        width: 16px;
     }
     .payment__row {
        flex-direction: column;
    }
    .payment__btn {
        padding: calc(20px + (25 - 20) * ((100vw - 320px) / (640 - 320)));
        display: flex;
        justify-content: center;
     }
    .payment__btn:not(:last-child) {
        margin: 0;
        margin-bottom: 10px;
     }
     .payment__btn img {
        display: none;
     }
     .price::after {
         height: calc(10px + (23 - 10) * ((100vw - 320px) / (640 - 320)));
        }
     
     .popup {
         padding:calc(20px + (60 - 20) * ((100vw - 320px) / (640 - 320)))  0;
     }
     .popup__top {
         padding: 0 calc(20px + (80 - 20) * ((100vw - 320px) / (640 - 320)));
     }
     .title_popup {
         margin-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (640 - 320)));
     }
    .popup__bottom {
        margin-top: calc(25px + (60 - 25) * ((100vw - 320px) / (640 - 320)));
        padding: calc(20px + (40 - 20) * ((100vw - 320px) / (640 - 320))) calc(20px + (80 - 20) * ((100vw - 320px) / (640 - 320)));
    }
     .popup__form {
         width: 100%;
         flex-wrap: nowrap;
         flex-direction: column;
     }
     .popup__name {
         margin-right: 0;
         margin-bottom: 8px;
     }
    .popup__phone {
        margin: 0;
    }
    .popup__btn {
        margin-top: calc(25px + (60 - 25) * ((100vw - 320px) / (640 - 320)));
    }

}


