.header {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  color: #000000;
}

.header__inner {
  width: 1650px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px;
}

.header__logo {
  font-size: 24px;
  line-height: 32px;
}

.header__menu {
  margin-left: 400px;
}

.menu {
  display: flex;
  font-family: "Exo", sans-serif;
  font-weight: 400;
}

.menu__list {
  list-style: none;
}

.menu__link {
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 27px;
  padding: 0 20px;
  color: #000000;
  text-align: center;
}

.menu__link:hover {
  transition: 0.2s ease-in;
  opacity: 0.8;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
}

.header__link {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
}

.footer {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  line-height: 32px;
  background-color: #262629;
}

.footer__inner {
  width: 1100px;
  height: 290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer__info {
  display: flex;
  align-items: center;
}

.footer__year {
  margin-right: 45px;
}

.footer__political {
  display: block;
  color: #ffffff;
  line-height: 19px;
  font-size: 14px;
}

.footer__right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.footer__link {
  display: block;
  text-decoration: none;
  color: #ffffff;
}

.footer__address {
  width: 340px;
  text-align: right;
}