
/////////// <MIXIN>//////////////////
@mixin font-regular {
    font-family: 'Exo', sans-serif;
    font-weight: 400;
}
@mixin font-medium {
    font-family: 'Exo', sans-serif;
    font-weight: 500;
}
@mixin font-bold {
    font-family: 'Exo', sans-serif;
    font-weight: 700;

}
/////////// </MIXIN>//////////////////

$main-color: #000000;
$second-color: #ffffff;
$red-color: #DE3F3F;

$font-size-m: 24px;
.container {
    width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}
.title {
    margin: 0;
    padding: 0;
    @include font-bold();
    font-size: 36px;
    line-height: 48px;
}
.subtitle {
    @include font-bold();
    font-size: $font-size-m;
    line-height: 32px;
    color: $red-color;
}

.input {
    border: none;
    color: $second-color;
    background-color: transparent;
    @include font-medium();
    font-size: $font-size-m;
    line-height: 32px;
    padding-bottom: 8px;
   }
   .btn {
    @include font-bold();
    border-radius: 22px;
    font-size: 18px;
    line-height: $font-size-m;
    border: none;    
}
.btn:hover {
    transition: 0.2s ease-in;
    cursor: pointer;

}
.span-highlight {
    color: $red-color;
}
///////////////////////////HERO//////////////////

.hero {
    background-color:#F3F9FF;;
}
.hero-inner {
    width: 1250px;
    margin: 0 auto;
    padding: 125px 0 200px 0; 
}

.hero-block {
    position: relative;
    width: 970px;
    height: 330px;
    background-color: $red-color;
    border-radius: 22px;
    padding-top: 48px;
    padding-left: 44px;
    
}


.hero-block__subtitle {
    font-weight: normal;
    color: $second-color;
    margin-bottom: 10px;
}
.hero__title {
    @include font-bold();
    font-size: 48px;
    line-height: 64px;
    color: $second-color;
}
.hero-block__bottom {
    position: absolute;
    bottom: 55px;
    display: flex;
    align-items: center;
}

.hero_city {
    @include font-regular();
    font-size: $font-size-m;
    line-height: 32px;
    color: $second-color;
    padding-left: 15px;
}
.hero__car {
    position: absolute;
    right: -300px;
    bottom: -180px;
}
.hero__shadow-car {
    position: absolute;
    right: -300px;
    bottom: -150px;
}


//////////////////////HERO///////////////////////

//////////////////////ABOUT//////////////////////

.about {
    background-color: #DAE2ED;
}
.about-inner {
    padding: 60px 0 100px 0; 
}

.about__subtitle {
    color: $main-color;
}

.about-row {
    margin-top: 60px;
    display: flex;
    
}
.about__item {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center
}

.about__item:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 250px;
    top: 40px;
    width: 190px;
    height: 3px;
    background-color: $red-color;
}

.about__number {
    @include font-bold();
    font-size: 64px;
    line-height: 85px;
    color: $red-color;
}
.about__text {
    @include font-medium();
    width: 350px;
    font-size: 18px;
    line-height: $font-size-m;
}



//////////////////////ABOUT//////////////////////


////////////////aplication///////////////////


.application {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url('../img/application.png') 50% 50%;
    height: 270px;
}
.application-inner {
    padding: 43px 0;
   }

.application__title {
    
    color: $second-color;
}
.application-form {
    display: flex;
    margin-top: 40px;
}



.input::placeholder {
    padding-left: 20px;
    color: $second-color;   
}
.application__input-name {
    color: $second-color;
    border-bottom: 3px solid $red-color;
    width: 180px;
    margin-right: 50px;
}
.application__input-phone {
     
    border-bottom: 3px solid $red-color;
    width: 275px;
    margin-right: 150px;
}


.application__btn {
    background-color: $red-color;
    color: $second-color;
    padding: 12px 68px;
}
.application__btn:hover {
box-shadow: 0 0 20px $red-color;
}
////////////////aplication///////////////////




////////////////privilege///////////////////


.privilege {
    background-color: #F3F9FF;
}
.privilege-inner {

    padding: 85px 0;
}

.privilege__title {
    padding-bottom: 15px;
}

.privilege-row {
    display: flex;

}
.privilege-item {
    width: 100%;
    display: flex;    
    padding-top: 35px;
}

.privilege-item__logo {
    padding-right: 20px;
    padding-top: 5px;
}
.privilege-item__logo img{
    width: 25px;

}


.privilege-item__text {
    padding-top: 5px;
}



.privilege-item__text {

    @include font-medium();
    font-size: $font-size-m;
    line-height: 32px;
}

////////////////privilege///////////////////


///////////////////payment//////////////////////

.payment {
    background-color: #E0EDF9;;
}
.payment-inner {
    text-align: center;
    padding: 70px 0;
}


.payment-title {
    padding-bottom: 65px;
}

.payment-row {
    display: flex;
    justify-content: center;
}
.payment__btn{
    display: flex;
    align-items: center;
    border-radius: 22px;
    padding: 25px;
    background-color: $red-color;
}

.payment__btn:not(:last-child) {
    margin-right: 35px;
}

.payment__btn img {
    width: 28px;
    height: 18px;
}
.payment__text {
    @include font-bold();
    font-size: $font-size-m;
    line-height: 32px;
    color: $second-color;
    padding-left: 15px;
}
///////////////////payment//////////////////////


//////////////////////////PRICE/////////////////////
.price {

    background:
     linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), 
      url("../img/price-bg.png");
    background-size: 100% 100%;
    
}

.price-inner {
     padding: 75px 0;
}

.price__title {
    color: $second-color;
}

.price__subtitle {
    color: $second-color;
    padding-top: 25px;
    @include font-medium();
    font-size: $font-size-m;
    line-height: 32px;
}
.price-table-outer {

    width: 830px;
    margin: 0 auto;
    margin-top: 45px;
    padding: 45px 90px 45px 75px;
    background-color: $second-color;
    border-radius: 22px;
}

.price-table-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.price-table-row:last-child {
    margin-bottom: 0;
}
.price-table__info {
    display: flex;
    flex-direction: column;
}
.price-table__title {
    @include font-bold();
    font-size: 16px;
    line-height: 22px;
    color: $red-color;
}
.price-table__subtitle {
    @include font-regular();
}
.price-table__coast {
    @include font-bold();
    font-size: 16px;
    line-height: 22px;
    color: $main-color;
}

/////////////////////////////PRICE/////////////////////

/////////////////////////////reviews/////////////////////

.reviews {
    background-color: #F3F9FF;
    display: flex;
}
.reviews-content {
    width: 775px;
    display: flex;
    flex-direction: column;
    padding: 95px 0 95px 300px;
}

.reviews__title {
   margin-left: 25px;
}
.slider {
    margin-top: 55px;
    position: relative;
}
.slider::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: -100px;
    width: 50px;
    height: 50px;
    background-color: $red-color;
    border-radius: 50%;
    background-image: url("../img/arrow-left.png");
    background-position: 45% 50%;
    background-repeat: no-repeat;
}
.slider:hover::before {
       cursor: pointer;
}
.slider::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: $red-color;
    border-radius: 50%;
    background-image: url("../img/arrow-right.png");
    background-position: 55% 50%;
    background-repeat: no-repeat;
}
.slider:hover::after {
    cursor: pointer;
}
.slider__item {
    width: 585px;
    background-color: $second-color;
    border-radius: 22px;
    padding: 15px 45px 15px 30px;
    margin-bottom: 25px;
}
.slider__item:last-child { 
    margin-bottom: 0;
}

.slider__title {
    @include font-bold();
    color: $red-color;
    font-size: $font-size-m;
    line-height: 32px;
    padding-bottom: 12px;
}
.slider__text {
    @include font-regular();
    font-size: 16px;
    line-height: 22px;
}


.reviews-background {
    margin-left: auto;
    width: 805px;
    height: 860px;
    clip-path: polygon(20% 0, 100% 0%, 100% 100%,4% 100%);
    background: url("../img/reviews-bg.png") no-repeat;
}


/////////////////////////////reviews/////////////////////




/////////////////////////////////find//////////////////////
.find {
    background-color:$red-color;

}
.find-inner {
    display: flex;
    padding: 55px 0;
}
.find-title {
    color: $second-color;
    padding-right: 100px;
}

.find__input-name {
    width: 180px;
    border-bottom: 3px solid $second-color;
    margin-right: 45px;
}
.find__input-name::placeholder {
    padding: 0;
}
.find__input-phone {
    width: 275px;
    border-bottom: 3px solid $second-color;
    margin-right: 35px;
}

.find__btn {
    padding: 12px 40px;
}
.find__btn:hover {
    box-shadow: 0 0 20px $second-color;
}
/////////////////////////////////find//////////////////////

////////////////////////MAP//////////////////
.map iframe {
    width: 100%;
}

////////////////////////MAP//////////////////

